<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao nosso site sobre Saúde e Cuidados Pessoais!</h1>
    <h2>A Importância da Saúde e dos Cuidados Pessoais</h2>
    <p>A saúde é um dos pilares fundamentais da qualidade de vida. Cuidar de si mesmo vai além da ausência de doenças; envolve o bem-estar físico, mental e emocional. A prática regular de hábitos saudáveis e a atenção aos cuidados pessoais desempenham um papel crucial na prevenção de enfermidades e no aumento da longevidade.</p>
    <h3>1. Prevenção de Doenças</h3>
    <p>Investir em cuidados pessoais, como alimentação balanceada e atividade física regular, ajuda a fortalecer o sistema imunológico e a reduzir o risco de doenças crônicas, como diabetes e hipertensão. A prevenção é sempre a melhor estratégia para uma vida saudável.</p>
    <h3>2. Saúde Mental</h3>
    <p>Cuidar da saúde mental é igualmente importante. Momentos de autocuidado, como meditação, hobbies ou simplesmente descansar, são essenciais para manter o equilíbrio emocional. A saúde mental impacta diretamente na nossa capacidade de enfrentar desafios diários e relacionar-se com os outros.</p>
    <h3>3. Aumento da Autoestima</h3>
    <p>A prática de cuidados pessoais, como manter uma boa higiene, praticar exercícios e ter uma alimentação saudável, contribui para a autoestima. Sentir-se bem consigo mesmo reflete positivamente nas relações sociais e na produtividade.</p>
    <h3>4. Qualidade de Vida</h3>
    <p>Uma rotina que inclui cuidados com a saúde promove uma maior disposição e energia para realizar atividades do dia a dia. Isso se traduz em uma vida mais plena, com mais momentos de prazer e realização.</p>
    <h3>5. Conexão Social</h3>
    <p>Cuidar da saúde também envolve a construção de redes de apoio. Compartilhar momentos com amigos e familiares, participar de atividades em grupo e buscar suporte emocional são práticas que enriquecem nossa vida e fortalecem os laços sociais.</p>
    <p>Explore nosso site para aprender mais sobre como cuidar de sua saúde e bem-estar.</p>
    <a href="{% url 'calc-index' %}">Calcule seu IMC</a>
</body>
</html>
